/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Blog Section */
.blog {
    padding: 40px 0;
    background-color: #fff;
    min-height: 44.2vw;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.blog-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #2c3e50;
}

.blog-posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.blog-post {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.blog-post:hover {
    transform: translateY(-5px);
}

.post-title {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #2c3e50;
    min-height: 132px;
}

.post-image{
    width: 100%;
}

.post-meta {
    font-size: 0.9rem;
    color: #7f8c8d;
    margin-bottom: 15px;
}

.post-summary {
    font-size: 1rem;
    color: #34495e;
    margin-bottom: 20px;
    min-height: 126px;
}

.read-more {
    font-size: 1rem;
    color: #3498db;
    text-decoration: none;
}

.read-more:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .blog-title {
        font-size: 2rem;
    }

    .blog-post {
        padding: 15px;
    }

    .post-title {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .blog-title {
        font-size: 1.8rem;
    }

    .post-title {
        font-size: 1.3rem;
    }

    .post-meta {
        font-size: 0.8rem;
    }

    .post-summary {
        font-size: 0.9rem;
    }

    .read-more {
        font-size: 0.9rem;
    }
}
