<div class="login-container" *ngIf="loginView">
    <h2>Login</h2>
  
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Email Field -->
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
          placeholder="Enter your email"
        />
        <div class="invalid-feedback">
          <small  *ngIf="loginForm.get('email')?.hasError('required')">Email is required</small>&nbsp;
          <small *ngIf="loginForm.get('email')?.hasError('required')">Please enter a valid email</small>
        </div>
      </div>
  
      <!-- Password Field -->
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control"
          placeholder="Enter your password"
        />
        <div class="invalid-feedback">
          <small *ngIf="loginForm.get('password')?.hasError('required')">Password is required</small>&nbsp;
          <small *ngIf="loginForm.get('password')?.hasError('required')">Password must be at least 6 characters</small>
        </div>
      </div>
  
      <!-- Error Message -->
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>
  
      <!-- Submit Button -->
      <div class="login-btn">
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
      </div>
    </form>
  </div>
  

  <div class="login-container" *ngIf="!loginView">
    <h2>Sign Up</h2>
  
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Email Field -->
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
          placeholder="Enter your email"
        />
        <div class="invalid-feedback">
          <small  *ngIf="loginForm.get('email')?.hasError('required')">Email is required</small>&nbsp;
          <small *ngIf="loginForm.get('email')?.hasError('required')">Please enter a valid email</small>
        </div>
      </div>
  
      <!-- Password Field -->
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control"
          placeholder="Enter your password"
        />
        <div class="invalid-feedback">
          <small *ngIf="loginForm.get('password')?.hasError('required')">Password is required</small>&nbsp;
          <small *ngIf="loginForm.get('password')?.hasError('required')">Password must be at least 6 characters</small>
        </div>
      </div>
  
      <!-- Error Message -->
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>

      <!-- Password Field -->
      <div class="form-group">
        <label for="password">Re enter Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control"
          placeholder="Enter your password"
        />
        <div class="invalid-feedback">
          <small *ngIf="loginForm.get('password')?.hasError('required')">Password is required</small>&nbsp;
          <small *ngIf="loginForm.get('password')?.hasError('required')">Password must be at least 6 characters</small>
        </div>
      </div>
  
      <!-- Error Message -->
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>
  
      <!-- Submit Button -->
      <div class="login-btn">
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Sign Up</button>
      </div>
    </form>
  </div>
  