body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;            
    background-color: #f0f4f8;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));  
    grid-template-rows: repeat(2, auto);    
    gap: 2rem;                            
    width: 80%;                           
    max-width: 1200px;                   
    padding: 20px;
}

.tile {
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    text-align: center;
    transition: 1s ease;
    cursor: pointer; 
    background-size: cover !important;
    background-position: center !important;
    height: 22.4rem;
    background: white;
    .conta{
        padding: 1.25rem;
        .first{
            text-align: justify;
            font-weight: 700;
            font-size: 18px;
        }
        .second{
            font-size: 0.875rem;
            line-height: 1.25rem;
            font-weight: 700;
            text-align: justify;
        }
    }
}

.tile:hover {
    transform: translateY(-4px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    background-color: #dad6da;
}

.tile img {
    width: 100%;
    height: 13rem;
    object-fit: cover;
}

.tile h2 {
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.tile p {
    font-size: 14px;
    line-height: 1.5;
    --tw-text-opacity: 1;
    color: rgb(119 128 161 / var(--tw-text-opacity));
}

.tile a {
    color: #fff;
    text-decoration: none;
    background-color: #1abc9c;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; 
    }

    .tile img {
        max-width: 150px;
        height: 150px;
    }
}
.projects-header {
    text-align: center;
}

.projects-header h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.projects-header p {
    font-size: 16px;
    margin-bottom: 8px;
    color: #7f8c8d;
    margin-top: 8px;
    text-align: start;
}
