<div class="main-container">
                   <div class="projects-header">
                    <h1>{{'WORKPAGE.HEADING' | translate}}</h1>
                    <p>{{'WORKPAGE.SUB_HEADING' | translate}}</p>
                </div>
        <div class="grid-container">
            <ng-container *ngFor="let item of workList">
                <div class="tile" (click)="handleWorkBlockClick(item)">
                    <img [src]="item.background">
                    <div class="conta">
                        <div class="first">{{item.name}}</div>
                        <p class="second">{{item.desc}}</p>
                    </div>
                </div>
            </ng-container>
        </div>
</div>

