<header>
  <nav class="navbar">
    <ul class="nav-list">
      <!-- Loop through navigation items -->
      <ng-container *ngFor="let item of navList">
        <li class="nav-item">
          <a [routerLink]="item.routeLink"
             routerLinkActive="active" 
             [routerLinkActiveOptions]="{exact: true}" 
             class="nav-link">
            {{ item.title | translate }} 
          </a>
        </li>
      </ng-container>

      <!-- Language Switcher -->
      <li class="nav-item">
        <ng-container *ngFor="let item of langList">
          <button 
            (click)="switchLanguage(item.nickTitle)" 
            class="language-button" 
            [ngClass]="{'active-language': currentLanguage === item.nickTitle}">
            {{ item.title | translate }} 
          </button>
        </ng-container>
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
